<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  
  <appSettings>
    <add key="SecretConnection" value="5VhdFO39hLYMCY+FxwSNYxyR8xwJVcUGnJK+VmhgTNlhUpZsyqIecnt+aMWIT3PK" />  
  </appSettings>
</configuration>